<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Todo List App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/signup.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      
      $(document).ready(function () {
        $.ajax({
                  url: '/getItem',
                  type: 'GET',
                  datatype: 'JSON',
                  success: function(response) {
                      // $("#userTodolist").append(response);
                      var i;
                      response = JSON.parse(response);
                      for(i=1; i<= response.length; i++){
                          var iscompleteNumeral = response[i-1].isComplete;
                          var isCompleteText = iscompleteNumeral?"Complete":"Incomplete";

                          var data = "<tr>" + "<th scope=\"row\">"+
                              i+"</th> <td>"+ response[i-1].title +
                              "</td><td>"+response[i-1].description +
                              "</td><td>"+isCompleteText +
                              "</td><td>"+"<button type=\"button\" id=\""+"editbutton-"+response[i-1].id+ "\"class=\"btn btn-primary editButton\" data-toggle=\"modal\" data-target=\"#editModal\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-pencil-square\" viewBox=\"0 0 16 16\">\n" +
                              "  <path d=\"M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z\"/>\n" +
                              "  <path fill-rule=\"evenodd\" d=\"M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z\"/>\n" +
                              "</svg></button>" +
                              "</td><td>"+ "<button type=\"button\" id=\""+"deletebutton-"+response[i-1].id+ "\"class=\"btn btn-light deleteButton\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\">\n" +
                              "  <path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z\"/>\n" +
                              "  <path fill-rule=\"evenodd\" d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z\"/>\n" +
                              "</svg></button>" +
                              "</td></tr>" ;
                          $("#toDoList tbody").append(data);
                      }

                            $(function () {
                                $('.deleteButton').on('click', function () {
                                    var editButtonid = $(this).attr('id');
                                    var id = editButtonid.split("-");
                                    $.ajax({
                                                    url:'/deleteItem',
                                                    data: {"id":id[1]},
                                                    type: 'POST',
                                                    success: function(response) {
                                                        console.log("Delete successful");
                                                        window.location.reload();
                                                    },
                                                    error: function(error) {
                                                        console.log(error);
                                                    }
                                    });
                                });
                            });

                              $(function () {
                                $('.editButton').on('click', function () {
                                    var editButtonid = $(this).attr('id');
                                    var id = editButtonid.split("-");
                                    $.ajax({
                                      url: '/editOpen',
                                      type: 'GET',
                                      data:{"id":id[1]},
                                      success: function(response) {
                                          $('#editModal').modal('show');
                                        response = JSON.parse(response);
                                        if(response.length === 1) {
                                            $("#todotitle").val(response[0].title);
                                            $("#tododescription").val(response[0].description);
                                            $("#inputState").val(response[0].isComplete);
                                        }

                                        $(function () {
                                            $('.savechanges').on('click', function () {
                                                {#console.log($("#inputState").val())#}
                                                $.ajax({
                                                    url:'/savechanges',
                                                    data: {"id":id[1],
                                                    "title":$("#todotitle").val(),
                                                    "description":$("#tododescription").val(),
                                                    "isCompleted":$("#inputState").val() },
                                                    type: 'POST',
                                                    success: function(response) {
                                                        console.log(response);
                                                        window.location.reload();
                                                    },
                                                    error: function(error) {
                                                        console.log(error);
                                                    }
                                                });
                                                $('#editModal').modal('hide');
                                            });
                                        });
                                      },
                                        error: function(error) {
                                            console.log(error);
                                        }
                                    });

                                });
                            });


                  },
                  error: function(error) {
                      console.log(error);
                  }
            });
      });



    </script>
</head>
<body>

    <div class="container">
        <div class="header">
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/showAddItem">Add Item</a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                 
                </ul>
               
              </div>
            </nav>

            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome Home !!</h1>

            <table id="toDoList" class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">IsComplete</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>

        </div>

    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">To Do</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                    <label for="todotitle" class="col-form-label">Title</label>
                    <input type="text" class="form-control" id="todotitle" name="todoTitle">
                  </div>
                  <div class="form-group">
                    <label for="tododescription" class="col-form-label">Description</label>
                    <textarea class="form-control" id="tododescription" name="todoDescription"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="todoiscompleted" class="col-form-label">IsCompleted</label>
                    <select id="inputState" name="inputStateSelected" class="form-control">
                        <option value="0" selected>No</option>
                        <option value="1">Yes</option>
                      </select>
                  </div>
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary savechanges" >Save changes</button>
          </div>
        </div>
      </div>
    </div>

</body>

</html>