.new-menu-item {
    color: white;
}

.new-menu-item-save-changes {
    color: white;
}

.new-menu-item-cancel {
    color: white;
    background: grey;
}

.helper-text-invisible{
    display: none;
}

.helper-text-visible{
    display: block;
}

.input-border-color {
    border-color: red;
    border-style: solid;
}

.edit-menu-item-save-changes {
    color: white;
}

.edit-menu-item-cancel {
    color: white;
    background: grey;
}

.delete-menu-item-yes {
    color: white;
}

.delete-menu-item-no {
    color: white;
    background: grey;
}

.pagination-links {
    display: flex;
    justify-content: center;
}

.curr-page-number {
    color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.curr-page-number-sf {
    color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.curr-page-number-active {
    color: white;
    background: black;
}